version: '3'

services:
  api:
    build: 
      context: .
      dockerfile: .docker/go/Dockerfile
    ports: 
      - 8000:8000
    restart: on-failure
    volumes:
      - ./:/go/src/github.com/HETIC-MT-P2021/CQRSES_GROUP3
    depends_on:
      - postgres
      - rabbitmq
      - es
    networks:
      - backend
    environment:
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=db
      - DB_HOST=postgres
      - DB_PORT=5432

  postgres:
    image: postgres:latest
    environment:
      - POSTGRES_MULTIPLE_DATABASES="db", "test-db"
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
      - DATABASE_HOST=postgres
    ports:
      - 5432:5432
    volumes:
      - postgres:/var/lib/postgresql/data
      - ./.docker/postgres/create-multiple-databases:/docker-entrypoint-initdb.d
    networks:
      - backend
    
  adminer:
    image: adminer
    ports:
      - 8080:8080
    depends_on:
      - postgres
    networks:
      - backend
    restart: unless-stopped

  es:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.4.0
    restart: always
    ports:
      - 9200:9200
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
    environment:
      - xpack.security.enabled=false
      - discovery.type=single-node
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: 1g
    networks:
      - backend

  kibana:
    image: docker.elastic.co/kibana/kibana:7.4.0
    restart: on-failure
    ports:
      - 5601:5601
    environment:
      ELASTICSEARCH_HOSTS: http://es:9200
    networks:
      - backend

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: bitnami
    networks:
      - backend
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:15672" ]
      interval: 30s
      timeout: 10s
      retries: 5

  app-consumer:
    build:
      context: .
      dockerfile: .docker/consumer/Dockerfile
    ports:
      - 8082:8082
    depends_on:
      - rabbitmq
      - es
    links:
      - rabbitmq
      - es
    volumes:
      - ./:/go/src/github.com/HETIC-MT-P2021/CQRSES_GROUP3/
    tty: true
    environment:
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=db
      - DB_HOST=postgres
      - DB_PORT=5432
    networks:
      - backend
volumes:
  api:
  postgres:
  elasticsearch-data:
    driver: local
  rmq_data:
    driver: local

# Networks to be created to facilitate communication between containers
networks:
  backend:
    driver: bridge